    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: red;
      padding: 1em;
      margin: 1em;
      justify-content: space-evenly;
    }

    .col {
      margin: 1em;
    }
